*{
	box-sizing: border-box;
}
body{background-color: skyblue;}
#food_llc{
	background-color: ivory;
	height: 90px;
	border-radius: 0px;
}
h1{
	font-family: Comic Sans MS;
	color: black;
	margin: 20px;
	margin-right: 20px;
}
h2{
	margin-bottom: 40px;
}
h3{
	margin-top: 10px;
}
.box{
	background-color: ivory;
	border:2px solid black;
	margin-bottom: 20px;
}
.box span{
	font-size: 16px;
	text-align: right;
	color: black;
}
#list-items{background-color: ivory;
font-size: 1.3em;}
ul{
	border: 2px solid black;
	text-align: center;
}
li{border-bottom: 2px solid black;}
p{margin-bottom: 0px;}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;}
p a:hover, p a:focus{
	text-decoration: none;
	font-size: 1.35em;
	color: black;
}





